<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= form_tag do %>
	  <%= text_field_tag "search", nil, placeholder: "Search",:class=>"form-control", autocomplete: :off %>
	<% end %></li>
  <li><%= link_to 'Edit account', main_app.edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', main_app.destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>